# Virtual environment
.venv/

# Secrets
.env

# Large generated data (too big for GitHub)
data/chroma_db/
data/raw_pdf/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Logs
logs/agent_traces.json
